:root{
  --mainColor: #111111;
  --secondaryColor:#6F6F6F;
  
}

/* Hide the increment and decrement arrows for number inputs */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}